@import "reset";
@import "_variables";
app {
    display: block;
    height: 100vh;
}

body {
    height: 100vh;
    min-width: 1080px;
}

.highlight {
    color: $veryLiteGrey;
    background-color: $midBlue;
}