:host {
    display: block;
    height: 100vh;
}

.first-column {
    width: 20%;
    height: 100%;
    float: left;
}

.second-column {
    width: 80%;
    height: 100%;
    float: right;
    background-color: green;
    overflow-y: auto;
}