.title {
    font-size: 61px;
    text-align: center;
    line-height: 100vh;
}

:host {
    padding: 30px 40px;
    display: block;
}

.photo {
    display: inline-block;
    vertical-align: top;
}

.info {
    padding-left: 20px;
    display: inline-block;
    vertical-align: top;
    &__title {
        font-weight: 600
    }
}

.name {
    font-size: 31px;
}

.contacts,
.address,
.job {
    line-height: 22px;
    &_margin-top {
        margin-top: 25px;
    }
}