@import "../../styles/variables";
:host {
    display: block;
    border-bottom: 1px solid $liteGrey;
}

.input {
    border: 0;
    background: $veryLiteGrey;
    outline: none;
    padding: 5px;
    height: 30px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    background: url("/assets/img/maginfy-icon.png") center right no-repeat;
}