<div class="client" *ngFor="let client of filteredClients" (click)="selectClient(client)" title="{{client.general.firstName + ' ' + client.general.lastName}}" [class.client_selected]="selectedClient === client">
    <div class="client__photo">
        <img src="{{client.general.avatar}}">
    </div>
    <div class="client__name">
        <div class="client__name__string">
            {{client.general.firstName}}
        </div>
        <div class="client__name__string">
            {{client.general.lastName}}
        </div>
    </div>
</div>