<div class="client" *ngFor="let client of filteredClients" (click)="selectClient(client)" title="{{client.general.firstName + ' ' + client.general.lastName}}" [class.client_selected]="selectedClient === client">
    <div class="client__photo">
        <img src="{{client.general.avatar}}">
    </div>
    <div class="client__info">
        <div class="client__info__name">
            {{client.general.firstName}} {{client.general.lastName}}
        </div>
        <div class="client__info__job">
            {{client.job.title}}
        </div>
    </div>
</div>