@import "../../styles/variables";
:host {
    height: calc(100% - 30px);
    display: block;
    overflow-y: auto;
}

.client {
    &_selected {
        background-color: $liteBlue;
        border-top: none;
    }
    &:hover {
        background-color: $liteGrey;
    }
    padding: 5px;
    cursor: pointer;
    border-top: 1px solid $liteGrey;
    &:first-child {
        border-top: none;
    }
    $h: 50px;
    height: $h;
    &__photo {
        img {
            width: $h;
            height: $h;
        }
        display: inline-block;
        vertical-align: middle;
    }
    &__info {
        display: inline-block;
        vertical-align: middle;
        line-height: $h;
        color: #27464e;
        &__name {
            line-height: 17px;
        }
        &__job {
            line-height: 17px;
            font-size: 10px;
        }
    }
}