@import "../../styles/variables";
:host {
    height: calc(100% - 30px);
    display: block;
    overflow-y: auto;
}

.client {
    &_selected {
        background-color: $liteBlue;
    }
    &:hover {
        background-color: $liteGrey;
    }
    padding: 5px;
    cursor: pointer;
    border-top: 1px solid #d6d7d8;
    $h: 50px;
    height: $h;
    &__photo {
        img {
            width: $h;
            height: $h;
        }
        display: inline-block;
        vertical-align: middle;
    }
    &__name {
        display: inline-block;
        vertical-align: middle;
        line-height: $h;
        &__string {
            color: #27464e;
            line-height: 17px;
        }
    }
}